<div *ngIf="id" class="container">
  Id is {{ account | async | json}}
</div>
<div *ngIf="!id" class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Account ID</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts | async; index as i">
        <th scope="row">{{account.AccountId}}</th>
        <td>{{account.FirstName}}</td>
        <td>{{account.LastName}}</td>
        <td>
          <button mat-raised-button (click)="open(account.Id)">
            Open
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
