<div class="upload">
  <mat-card style="margin-top:10px; width: 50%;">
    <mat-card-content *ngIf="file">
      <ul>
        <li>
          <mat-progress-bar [value]="file.progress"></mat-progress-bar>
          <span id="file-label">
            {{file.data.name}}
          </span><br />
          <span *ngIf="file.success">Success #: {{file.success}}<br /></span>
          <span *ngIf="file.failed">Failed #: {{file.failed}}</span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="onClick()">
        <mat-icon>file_upload</mat-icon>
        Upload
      </button>
    </mat-card-actions>
  </mat-card>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=".csv" style="display:none;" />
</div>
